{% extends 'base/base.html'%}
{% block title %}
{{object_id}} Confirmar Eliminar? 
{% endblock%}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p">
            <h3>Estas Seguro?</h3>
            <p>Estas a punto de Eliminar los datos de la actividad <b>No.{{ object.id }}</b> del <b>Usuario {{ object.solicita }}</b> por Favor Confirme.</p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link" 
                       type="button" value="Cancel" 
                       onclick="window.history.go(-1);"/>
                <input class="btn btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
    </div>
{% endblock %}