
{% extends 'base/base.html' %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{{ message }}
</div>
{% endfor %}

        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}
                <h5><label class="floating-label"> Sistemas </label></h5>
                    <input id="tags" name="tags" class= "form-control round" value="{{ object.sistema }}">
                   
                    <h5><label> Fecha de la Solicitud: </label></h5>
                    <h5>{{ form.fecha_solicitud}}</h5>
                    
                    <h5><label> Asunto: </label></h5>
                    <h5>{{ form.descripcion}}</h5>

                    <h5> <label> Solucion</label></h5>
                    <h5>{{form.solucion}}</h5>


                    <h5> <label> Fecha de la resolucion</label></h5>
                    <h5>{{form.fecha_solucion}}</h5>

                    <h5> <label> Estatus de la Solicitud</label></h5>
                    <h5>{{form.estatus}}</h5>
                    
                    <h5><label class="floating-label"> Solicita </label></h5>
                    <input id="tags_empleados" name="tags_empleados" class= "form-control round" value="{{ object.solicita }}">
                    <h5><label hidden="hidden" class="floating-label"> Sistemas Hidden</label></h5>
                    <input hidden="hidden" id="sistema" name="sistema" class= "form-control round" value="{{ object.sistema_id }}">
                    <h5><label hidden="hidden" class="floating-label"> Solicita Hidden</label></h5>
                    <input hidden="hidden" id="solicita" name="solicita" class= "form-control round" value="{{ object.solicita_id }}">
                    {% comment %} <h5><label class="floating-label"> Sistemas 1 </label></h5>
                    <input id="solicta" name="crea_solicitud" class= "form-control round" value="{{ object.crea_solicitud_id }}"> {% endcomment %}

                    <input hidden="hidden" id="tags_creador" name="tags_creador" value="{{ request.user.id }}">
                    <input hidden="hidden" id="id" name="id" value="{{ object.pk }}">


                      <div>
                          <button class="btn btn-primary px-60"  type="submit"> Guardar</button>   <!--MODIFICAR EL BOTON DE SUBMIT PARA GUARDAR UN FORMULARIO DISEÑO AL BOOTSTRAP-->
                      </div>
            </form>
        </div>  

             {% comment %} Agregar este Estilo para el Autocomplete para que se visualizara, el archivo JS no tiene esos elementos por esos
             no se visualiza en el form{% endcomment %}
           </script>  

<script>
var fecha = new Date();  //Insertar fecha actual en input
document.getElementById("id_fecha_solucion").value = fecha.toJSON().slice(0,10);
document.getElementById("id_fecha_solicitud").value = fecha.toJSON().slice(0,10);
</script>



{% endblock %}