
{% extends 'base/base.html' %}

{% block content %}



{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{{ message }}
</div>
{% endfor %}

        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}

                <h5><label class="floating-label"> Sistemas </label></h5>
                    {{ form.sistemas}}
                   <h5><label> Fecha de la Solicitud: </label></h5>
                    <h5>{{ form.fecha_solicitud}}</h5>
                    
                    <h5><label> Asunto: </label></h5>
                    <h5>{{ form.descripcion}}</h5>

                    <h5> <label> Solucion</label></h5>
                    <h5>{{form.solucion}}</h5>


                    <h5> <label> Fecha de la resolucion</label></h5>
                    <h5>{{form.fecha_solucion}}</h5>

                    <h5> <label> Estatus de la Solicitud</label></h5>
                    <h5>{{form.estatus}}</h5>
                    
                    <h5> <label> Solicita</label></h5>
                    <h5><div> {{form.solicitas}}</div></h5>
                    <span hidden="hidden"> {{form.sistemashidden}}</span> 
                    <span hidden="hidden"> {{form.solicitantehidden}}</span>
                    <input hidden="hidden" id="tags_creador" name="tags_creador" value="{{ request.user.id }}">

                      <div>
                          <button class="btn btn-primary px-60"  type="submit"> Guardar</button>   <!--MODIFICAR EL BOTON DE SUBMIT PARA GUARDAR UN FORMULARIO DISEÑO AL BOOTSTRAP-->
                      </div>
            </form>
        </div>  
<script>
var fecha = new Date();  //Insertar fecha actual en input
document.getElementById("id_fecha_solucion").value = fecha.toJSON().slice(0,10);
document.getElementById("id_fecha_solicitud").value = fecha.toJSON().slice(0,10);
</script>



{% endblock %}