{% load static from staticfiles %}
{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    
    <title>Dashboard | Remark Admin Template</title>
    
    <link rel="apple-touch-icon" href="{% static 'classic/base/assets/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'classic/base/assets/images/favicon.ico' %}">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'classic/global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'classic/base/assets/css/site.min.css' %}" >
    
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'classic/global/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/flag-icon-css/flag-icon.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/chartist/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/aspieprogress/asPieProgress.css' %}">
    
    <link rel="stylesheet" href="{% static 'classic/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <!-- Plugins 24/03/2022-->

    <link rel="stylesheet" href="{% static 'classic/base/assets/examples/css/dashboard/v2.css' %}">
    <script type="text/javascript" src="{% static 'classic/global/vendor/jquery/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>

    <script type="text/javascript" src="{% static 'classic/global/vendor/jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/jquery-ui/jquery-ui.min.css' %}">

    <script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script>

  
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-rowgroup/dataTables.rowGroup.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-scroller/dataTables.scroller.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-responsive/dataTables.responsive.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-buttons/dataTables.buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-buttons/buttons.html5.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-buttons/buttons.flash.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-buttons/buttons.print.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-buttons/buttons.colVis.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js' %}"></script>
    <!-- Datatables Marzo 24/03/2022-->
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/base/assets/examples/css/tables/datatable.css' %}"> 
    <link rel="stylesheet" href="{% static 'classic/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/css/bootstrap-extend.min.css' %}">
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'classic/global/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'classic/global/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'> 
    
    <!--[if lt IE 9]>
    <script src="../../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    
    <!--[if lt IE 10]>
    <script src="../../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->
    
    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'classic/global/vendor/breakpoints/breakpoints.js' %}"> </script>
    {% comment %} <script type="text/javascript" src="{% static 'classic/global/js/Plugin/bootstrap-datepicker.js' %}"></script> {% endcomment %}
    <script>
      Breakpoints();
    </script>

  </head>
  <body class="animsition dashboard">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
          data-toggle="menubar">
          <span class="sr-only">Toggle navigation</span>
          <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
          data-toggle="collapse">
          <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
          <img class="navbar-brand-logo" src="{% static 'classic/base/assets/images/logo.png' %}" title="Remark">
          <span class="navbar-brand-text hidden-xs-down"> Remark</span>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
          data-toggle="collapse">
          <span class="sr-only">Toggle Search</span>
          <i class="icon wb-search" aria-hidden="true"></i>
        </button>
      </div>
    
      <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
          <!-- Navbar Toolbar -->
          <ul class="nav navbar-toolbar">
            <li class="nav-item hidden-float" id="toggleMenubar">
              <a class="nav-link" data-toggle="menubar" href="#" role="button">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
              </a>
            </li>
            <li class="nav-item hidden-sm-down" id="toggleFullscreen">
              <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                <span class="sr-only">Toggle fullscreen</span>
              </a>
            </li>
            <li class="nav-item hidden-float">
              <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                role="button">
                <span class="sr-only">Toggle Search</span>
              </a>
            </li>
            <li class="nav-item dropdown dropdown-fw dropdown-mega">
              <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="fade"
                role="button">Mega <i class="icon wb-chevron-down-mini" aria-hidden="true"></i></a>
              <div class="dropdown-menu" role="menu">
                <div class="mega-content">
                  <div class="row">
                    <div class="col-md-4">
                      <h5>UI Kit</h5>
                      <ul class="blocks-2">
                        <li class="mega-menu m-0">
                          <ul class="list-icons">
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../advanced/animation.html">Animation</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/buttons.html">Buttons</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/colors.html">Colors</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/dropdowns.html">Dropdowns</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/icons.html">Icons</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../advanced/lightbox.html">Lightbox</a>
                            </li>
                          </ul>
                        </li>
                        <li class="mega-menu m-0">
                          <ul class="list-icons">
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/modals.html">Modals</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/panel-structure.html">Panels</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../structure/overlay.html">Overlay</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/tooltip-popover.html ">Tooltips</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../advanced/scrollable.html">Scrollable</a>
                            </li>
                            <li><i class="wb-chevron-right-mini" aria-hidden="true"></i>
                              <a
                                href="../uikit/typography.html">Typography</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <h5>Media
                        <span class="badge badge-pill badge-success">4</span>
                      </h5>
                      <ul class="blocks-3">
                        <li>
                          <a class="thumbnail m-0" href="javascript:void(0)">
                            <img class="w-full" src= "{% static 'classic/global/photos/placeholder.png' %}"/>
                          </a>
                        </li>
                        <li>
                          <a class="thumbnail m-0" href="javascript:void(0)">
                            <img class="w-full" src="{% static 'classic/global/photos/placeholder.png' %}"/>
                          </a>
                        </li>
                        <li>
                          <a class="thumbnail m-0" href="javascript:void(0)">
                            <img class="w-full" src= "{% static 'classic/global/photos/placeholder.png' %}"/>
                          </a>
                        </li>
                        <li>
                          <a class="thumbnail m-0" href="javascript:void(0)">
                            <img class="w-full" src= "{% static 'classic/global/photos/placeholder.png' %}"/>
                          </a>
                        </li>
                        <li>
                          <a class="thumbnail m-0" href="javascript:void(0)">
                            <img class="w-full" src= "{% static 'classic/global/photos/placeholder.png' %}"/>
                          </a>
                        </li>
                        <li>
                          <a class="thumbnail m-0" href="javascript:void(0)">
                            <img class="w-full" src= "{% static 'classic/global/photos/placeholder.png' %}"/>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <h5 class="mb-0">Accordion</h5>
                      <!-- Accordion -->
                      <div class="panel-group panel-group-simple" id="siteMegaAccordion" aria-multiselectable="true"
                        role="tablist">
                        <div class="panel">
                          <div class="panel-heading" id="siteMegaAccordionHeadingOne" role="tab">
                            <a class="panel-title" data-toggle="collapse" href="#siteMegaCollapseOne" data-parent="#siteMegaAccordion"
                              aria-expanded="false" aria-controls="siteMegaCollapseOne">
                              Collapsible Group Item #1
                            </a>
                          </div>
                          <div class="panel-collapse collapse" id="siteMegaCollapseOne" aria-labelledby="siteMegaAccordionHeadingOne"
                            role="tabpanel">
                            <div class="panel-body">
                              De moveat laudatur vestra parum doloribus labitur sentire partes, eripuit praesenti
                              congressus ostendit alienae, voluptati ornateque accusamus
                              clamat reperietur convicia albucius.
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading" id="siteMegaAccordionHeadingTwo" role="tab">
                            <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseTwo"
                              data-parent="#siteMegaAccordion" aria-expanded="false"
                              aria-controls="siteMegaCollapseTwo">
                              Collapsible Group Item #2
                            </a>
                          </div>
                          <div class="panel-collapse collapse" id="siteMegaCollapseTwo" aria-labelledby="siteMegaAccordionHeadingTwo"
                            role="tabpanel">
                            <div class="panel-body">
                              Praestabiliorem. Pellat excruciant legantur ullum leniter vacare foris voluptate
                              loco ignavi, credo videretur multoque choro fatemur mortis
                              animus adoptionem, bello statuat expediunt naturales.
                            </div>
                          </div>
                        </div>
    
                        <div class="panel">
                          <div class="panel-heading" id="siteMegaAccordionHeadingThree" role="tab">
                            <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseThree"
                              data-parent="#siteMegaAccordion" aria-expanded="false"
                              aria-controls="siteMegaCollapseThree">
                              Collapsible Group Item #3
                            </a>
                          </div>
                          <div class="panel-collapse collapse" id="siteMegaCollapseThree" aria-labelledby="siteMegaAccordionHeadingThree"
                            role="tabpanel">
                            <div class="panel-body">
                              Horum, antiquitate perciperet d conspectum locus obruamus animumque perspici probabis
                              suscipere. Desiderat magnum, contenta poena desiderant
                              concederetur menandri damna disputandum corporum.
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Accordion -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- End Navbar Toolbar -->
    
          <!-- Navbar Toolbar Right -->
          <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

            <li class="nav-item dropdown">
              <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <img src="{% static 'classic/global/portraits/5.jpg' %}" alt="...">
                  <i></i>
                </span>
              </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
                <div class="dropdown-divider" role="presentation"></div>
                <a class="dropdown-item" href='{% url 'logout' %}' role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
                aria-expanded="false" data-animation="scale-up" role="button">
                <i class="icon wb-bell" aria-hidden="true"></i>
                <span class="badge badge-pill badge-danger up">5</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                <div class="dropdown-menu-header">
                  <h5>NOTIFICATIONS</h5>
                  <span class="badge badge-round badge-danger">New 5</span>
                </div>
    
                <div class="list-group">
                  <div data-role="container">
                    <div data-role="content">
                      <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">A new order has been placed</h6>
                            <time class="media-meta" datetime="2018-06-12T20:50:48+08:00">5 hours ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Completed the task</h6>
                            <time class="media-meta" datetime="2018-06-11T18:29:20+08:00">2 days ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Settings updated</h6>
                            <time class="media-meta" datetime="2018-06-11T14:05:00+08:00">2 days ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Event started</h6>
                            <time class="media-meta" datetime="2018-06-10T13:50:18+08:00">3 days ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Message received</h6>
                            <time class="media-meta" datetime="2018-06-10T12:34:48+08:00">3 days ago</time>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu-footer">
                  <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                    <i class="icon wb-settings" aria-hidden="true"></i>
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
                </div>
              </div>
            </li>
            
            <li class="nav-item" id="toggleChat">
              <a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat"
                data-url="../site-sidebar.tpl">
                <i class="icon wb-chat" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
    
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
          <form role="search">
            <div class="form-group">
              <div class="input-search">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="site-search" placeholder="Search...">
                <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                  data-toggle="collapse" aria-label="Close"></button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Site Navbar Seach -->
      </div>
    </nav>    <div class="site-menubar">
      <div class="site-menubar-body">
        <div>
          <div>
            <ul class="site-menu" data-plugin="menu">
              <li class="site-menu-category">General</li>
              <li class="site-menu-item has-sub active open">
                <a href="javascript:void(0)">
                        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                        <span class="site-menu-title">Dashboard</span>
                            <div class="site-menu-badge">
                                <span class="badge badge-pill badge-success">3</span>
                            </div>
                    </a>
                <ul class="site-menu-sub">
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../index.html">
                      <span class="site-menu-title">Dashboard v1</span>
                    </a>
                  </li>
                  <li class="site-menu-item active">
                    <a class="animsition-link" href="../dashboard/v2.html">
                      <span class="site-menu-title">Dashboard v2</span>
                    </a>
                  </li>
                </ul>
              </li>
              
                 
              <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                        <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
                        <span class="site-menu-title">Chart</span>
                                <span class="site-menu-arrow"></span>
                    </a>
                <ul class="site-menu-sub">
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/chartjs.html">
                      <span class="site-menu-title">Chart.js</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/gauges.html">
                      <span class="site-menu-title">Gauges</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/flot.html">
                      <span class="site-menu-title">Flot</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/peity.html">
                      <span class="site-menu-title">Peity</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/sparkline.html">
                      <span class="site-menu-title">Sparkline</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/morris.html">
                      <span class="site-menu-title">Morris</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/chartist.html">
                      <span class="site-menu-title">Chartist.js</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/rickshaw.html">
                      <span class="site-menu-title">Rickshaw</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/pie-progress.html">
                      <span class="site-menu-title">Pie Progress</span>
                    </a>
                  </li>
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../charts/c3.html">
                      <span class="site-menu-title">C3</span>
                    </a>
                  </li>
                </ul>
              </li>
              
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../apps/mailbox/mailbox.html">
                      <span class="site-menu-title">Mailbox</span>
                    </a>
                  </li>
                  
                  <li class="site-menu-item">
                    <a class="animsition-link" href="../apps/travel/travel.html">
                      <span class="site-menu-title">Travel</span>
                      <div class="site-menu-label">
                        <span class="badge badge-info badge-round">new</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="site-menubar-section">
              <h5>
                Milestone
                <span class="float-right">30%</span>
              </h5>
              <div class="progress progress-xs">
                <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
              </div>
              
            </div>      </div>
        </div>
      </div>
    
      <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
          data-original-title="Settings">
          <span class="icon wb-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
          <span class="icon wb-eye-close" aria-hidden="true"></span>
        </a>
        <a href='{% url 'logout' %}' data-placement="top" data-toggle="tooltip" data-original-title="Logout">
          <span class="icon wb-power" aria-hidden="true"></span>
        </a>
      </div></div>    <div class="site-gridmenu">
      <div>
        <div>
          <ul>
            <li>
              <a href="../apps/mailbox/mailbox.html">
                <i class="icon wb-envelope"></i>
                <span>Mailbox</span>
              </a>
            </li>
            <li>
              <a href="../apps/calendar/calendar.html">
                <i class="icon wb-calendar"></i>
                <span>Calendar</span>
              </a>
            </li>
            <li>
              <a href="../apps/contacts/contacts.html">
                <i class="icon wb-user"></i>
                <span>Contacts</span>
              </a>
            </li>
            <li>
              <a href="../apps/media/overview.html">
                <i class="icon wb-camera"></i>
                <span>Media</span>
              </a>
            </li>
            <li>
              <a href="../apps/documents/categories.html">
                <i class="icon wb-order"></i>
                <span>Documents</span>
              </a>
            </li>
            <li>
              <a href="../apps/projects/projects.html">
                <i class="icon wb-image"></i>
                <span>Project</span>
              </a>
            </li>
            <li>
              <a href="../apps/forum/forum.html">
                <i class="icon wb-chat-group"></i>
                <span>Forum</span>
              </a>
            </li>
            <li>
              <a href="../index.html">
                <i class="icon wb-dashboard"></i>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Page -->
    <div class="page">
      {% comment %} <div class="page-header h-300 mb-30">
        <div class="text-center blue-grey-800 m-0 mt-50">
          <div class="font-size-50 mb-30 blue-grey-800">Actividades Diarias</div>
        </div>
      </div> {% endcomment %}
      

<div class="page-content">
  <div class="panel-heading">
      <div class="page-content container-fluid"> 
       {% comment %} <div class="row" data-plugin="matchHeight" data-by-row="true"> {% endcomment %}

            {% comment %} <!-- Panel Web Designer -->
            <div class="card card-shadow">
              <div class="card-block text-center bg-white p-40">
                <div class="avatar avatar-100 mb-20">
                  <img src="{% static 'classic/global/portraits/7.jpg' %}">
                </div>
                <p class="font-size-20 blue-grey-700">Name Desarrollador</p>
                <p class="blue-grey-400 mb-20">Web Designer</p>
                <p class="mb-35">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                  nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed
                  nisi. </p>
                <ul class="list-inline font-size-18 mb-35">
                  <li class="list-inline-item">
                    <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
                  </li>
                  <li class="list-inline-item ml-10">
                    <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
                  </li>
                  <li class="list-inline-item ml-10">
                    <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-dribbble" aria-hidden="true"></i>
                </a>
                  </li>
                  <li class="list-inline-item ml-10">
                    <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-instagram" aria-hidden="true"></i>
                </a>
                  </li>
                </ul>
                <button type="button" class="btn btn-primary px-40">Follow</button>
              </div>
            </div>
            <!-- End Panel Web Designer --> {% endcomment %}



            <!-- Panel Traffic -->
            <div class="card card-shadow example-responsive" id="widgetLinearea">
            
                      {% block content %}
                      <h4>	Bloque de contenido		</h4>
                      {% endblock %}
                    

            </div>

       </div>
      {% comment %} </div> {% endcomment %}
    </div> 
  </div>
    <!-- End Page -->




    <!-- Footer --> 
    <footer class="site-footer">
      <div class="site-footer-legal">© 2018 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
      <div class="site-footer-right">
        Crafted with <i class="red-600 wb wb-heart"></i> by <a href="https://themeforest.net/user/creation-studio">Creation Studio</a>
      </div>
    </footer>
    <!-- Core  -->

    <script type="text/javascript" src="{% static 'classic/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/popper-js/umd/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/bootstrap/bootstrap.js' %}"> </script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/animsition/animsition.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
    
    <!-- Plugins -->
    <script type="text/javascript" src="{% static 'classic/global/vendor/switchery/switchery.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/intro-js/intro.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/screenfull/screenfull.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/chartist/chartist.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/chartist/chartist.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'classic/global/vendor/gmaps/gmaps.js' %}"></script>
    <script src="{% static 'classic/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
    
    <!-- Scripts -->
    <script src="{% static 'classic/global/js/Component.js' %}"></script>
    <script src="{% static 'classic/global/js/Plugin.js' %}"></script>
    <script src="{% static 'classic/global/js/Base.js' %}"></script>
    <script src="{% static 'classic/global/js/Config.js' %}"></script>
    
    <script src="{% static 'classic/base/assets/js/Section/Menubar.js' %}"></script>
    <script src="{% static 'classic/base/assets/js/Section/GridMenu.js' %}"></script>
    <script src="{% static 'classic/base/assets/js/Section/Sidebar.js' %}"></script>
    <script src="{% static 'classic/base/assets/js/Section/PageAside.js' %}"></script>
    <script src="{% static 'classic/base/assets/js/Plugin/menu.js' %}"></script>
    
    <script src="{% static 'classic/global/js/config/colors.js' %}"></script>
    <script type="text/javascript" src= "{% static 'classic/base/assets/js/config/tour.js' %}"> </script>
    <script>Config.set('assets', '../../assets');</script>
    
    <!-- Page -->
    <script type="text/javascript" src="{% static 'classic/base/assets/js/Site.js' %}"></script>
    <script src="{% static 'classic/global/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'classic/global/js/Plugin/slidepanel.js' %}"></script>
    <script src="{% static 'classic/global/js/Plugin/switchery.js' %}"></script>
    {% comment %} <script src="{% static 'classic/global/js/Plugin/gmaps.js' %}"></script> {% endcomment %}
    <script src="{% static 'classic/global/js/Plugin/matchheight.js' %}"></script>
    <script src="{% static 'classic/global/js/Plugin/asscrollable.js' %}"></script>
    
  <script type="text/javascript" src="{% static 'classic/base/assets/examples/js/dashboard/v2.js' %}"></script>  



  <script>
    $( function() {   
        $('#tags').autocomplete({
            source: function (request, response) {
                $.getJSON("http://10.2.8.116:80/ajax_dns/?nombre=" + $('#tags').val(), function (data) {
                    response($.map(data, function (items) {
  
                        {#console.log(label);#}
  
                        return {
                            label: items.nombre,
                            value: items.nombre,
                            id: items.id,
            minLength: 2,
            delay: 100
                        };
  
                    }));
                },);
            },
            select: function( event, ui ) {
              console.log(ui.item.id)      //Con este se puede realizar pruebas para ir buscando los valores por parte.
            $('#sistema').val(ui.item.id)  //Objeto HTML al cual le quieres meter el valor buscado.
            console.log('Imprimir: ',ui.item.id)
          },
          focus: function(event, ui) {
            event.preventDefault();
            $('#sistema').val(ui.item.id) 
            console.log('Este :',$('#sistema').val())
          }
  
        });
    });
    </script>


      <script>
        $( function(){
             $('#tags_empleados').autocomplete({
                 source: function (request, response) {
                  $.getJSON("http://10.2.8.116:80/ajax_Users/?first_name=" + $('#tags_empleados').val(), function(data){
       
                         response($.map(data, function (items) {
                             return {
                                 label: items.first_name+ ' '+ items.last_name,
                                 value: items.first_name+ ' '+ items.last_name,
                                 id: items.id,
                 minLength: 2,
                 delay: 100
                             };
                         }));
                     },
                     );
                 },
                 select: function( event, ui ) {
                   {#event.preventDefault();  VERIFICAR ESTE Event#}
                   console.log(ui.item);
                   console.log(ui.item.id);
                 $('#solicita').val(ui.item.id)  //Objeto HTML al cual le quieres meter el valor buscado.
                   
               },
             });
         });

         {% comment %} Agregar este Estilo para el Autocomplete para que se visualizara, el archivo JS no tiene esos elementos por esos
         no se visualiza en el form{% endcomment %}
       </script>  
       <style> .ui-autocomplete 
         { position: absolute; z-index: 2150000000 !important; cursor: default; border: 2px solid #ccc; padding: 5px 0; border-radius: 2px; } 
       </style>
  </body>
</html>
