
{% extends '../base/base.html' %}
{% block content %}
{% load i18n staticfiles %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta charset="UTF-8">
    <title>
        Actividades
    </title>    
    {% comment %} <script src="{% static 'classic/global/js/Plugin/datatables.js' %}"></script>  {% endcomment %}
    {% comment %} <script rel="stylesheet" href="{% static 'classic/base/assets/examples/js/tables/datatable.js' %}"></script> {% endcomment %}

</head>
{% load static %}
        <!-- Panel FixedHeader -->
        <div class="panel">
            <header class="panel-heading">
              <h3 class="panel-title">
                Actividades Sistemas
              </h3>
            </header>
            <div class="panel-body container-fluid">
              <!--AGREGE EL BOTON PARA AÑADIR ACTIVIDADES-->
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-15">
                    <button id="new" data-dismiss='modal' class="btn btn-outline btn-primary" type="button">
                      <i class="icon wb-plus" aria-hidden="true"></i> Agregar Actividad
                    </button>
                  </div>
                </div>

                <table id="demo" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <thead>
                    <tr class="gradeA odd" role="row">
                      <th class="sorting_1">No</th>
                      <th>Sistema </th>
                      <th>Fecha creación</th>
                      <th>Descripcion</th>
                      <th>Solucion</th>
                      <th>Fecha solucion</th>
                      <th>Estado</th>
                      <th>Cliente</th>
                      <th data-orderable="false"> acciones</th>    <!-- Opcion para que no se ordene una columna en el datatable -->
                    </tr>
                  </thead>
                  <tr>
                  <tfoot>
                  </tr>
                  </tfoot>
              </table>
                  {% comment %} <tbody>

                  </tbody> {% endcomment %}
                
              </div>

          </div>
          <!-- End Panel FixedHeader -->

                 <!-- NEW and EDIT Modal -->
    <div class="modal fade" id="myModalnew"  role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="modal_titlenew"></h4>
              </div>
              <div class="modal-body">

                    <form role="form" action="" name="formularios" id="formularios" method="post"> {% csrf_token %}
                      <div id="alerta"> </div>
                      <div class="form-group">
                          <label for="tags"><span class="glyphicon glyphicon-pencil"></span>Sistemas</label>
                          <input type="select" class="form-control"  aria-label="tags" name="tags" id="tags" placeholder="Ingrese el Sistema" required="true">
                          <input hidden="hidden" class="form-control" content="block" aria-label="sistema" name="sistema" id="sistema">
                      </div>

                      <div class="form-group">
                          <label for="fecha_solicitud"><span class="glyphicon glyphicon-pencil"></span> Fecha de la Solicitud</label>
                              <input type="date" class="form-control" id="fecha_solicitud" name="fecha_solicitud" placeholder="Ingrese la Fecha de la Solicitud" required="true">
                      </div>

                      <div>                      
                        <p id="demo"></p>
                      </div>

                      <div class="form-group">
                        <label for="descripcion"><span class="glyphicon glyphicon-pencil"></span> Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion"  placeholder="Describa" required="true">
                    </div>
                      
                      <div class="form-group">
                          <label for="solucion"><span class="glyphicon glyphicon-pencil"></span> Solución</label>
                          <input type="text" class="form-control" id="solucion" name="solucion"  placeholder="Describa la Solución" required="true">
                      </div>

                      <div class="form-group">
                        <label for="fecha_solucion"><span class="glyphicon glyphicon-pencil"></span> Fecha de Resoluciòn</label> 
                        <input type="date" class= 'datepicker class form-control', data-mask= "00/00/0000", id="fecha_solucion" name="fecha_solucion"  placeholder="Ingrese Fecha de Resolucòn" required="true">
                      </div>

                      <div class="form-group">
                      <label  for="estatus_solicitud"><span class="glyphicon glyphicon-pencil"></span> Estatus</label>
                      <select name="select" class="form-control" name="estatus_solicitud" id="estatus_solicitud">
                        {% comment %} <option value="" disabled selected>Selecciona una opción</option> {% endcomment %}
                        {% for estatu in view.estatus %} 
                          <option value= {{ estatu.id }}>{{ estatu.nombre }}</option>
                        {% endfor %} 
                      </select>  
             
                      </div>
                      <input hidden="hidden" type="text" class="form-control" id="estatus" name="estatus"  placeholder="Estatus" required="true">  

                      <div class="form-group">
                        <label for="tags_empleados"><span class="glyphicon glyphicon-pencil"></span> Solicita</label>
                        <input type="text" class="form-control" id="tags_empleados" name="tags_empleados"  placeholder="Ingrese Solicitud" required="true">
                        <input hidden= "hidden" type="text" class="form-control" id="solicita" name="solicita"  placeholder="Ingrese Solicitud">
                      </div>
                      <div class="form-group">
                        <label hidden="hidden" for="crea_solicitud"><span class="glyphicon glyphicon-pencil"></span> Usuario Sesion</label>
                        <input hidden="hidden" type="text" class="form-control" id="crea_solicitud" name="crea_solicitud"  placeholder="Usuario Cargado" value ="{{ request.user.id }}">
                      </div>

                      <button type="button" id="guardar-modal"  class="btn btn-outline btn-primary btn-block"></span> OK
                      </button>
                      <button hidden= "hidden" type="button" class="btn btn-primary" data-dismiss="modal" id="cerrar">Cerrar</button>
                      <div class="modal-body">
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
    </div>
          <script src="{% static 'js/actividades_generales.js' %}"></script>

          {% comment %} Rellenar el input con un select {% endcomment %}
    <script>
          $(document).ready(function(){
            $("#estatus_solicitud").change(function(){
                      //alert($('select[id=estatus_solicitud]').val());
                      $('#estatus').val($(this).val());
                      $('#estatus_solicitud').val($(this).val(estatus));
            });
          });
    </script>


          {% endblock %}

